@charset "UTF-8";

/*--general--*/

body { 
    background-image:url(../images/bc-blue.jpg);
    opacity: 50;
	  background-repeat:repeat; 
    background-position:center center;
	  background-color:#023154; 
    font-size:16pt;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif; 
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    color: #ffff;
    font-size: 30px;
    align-content: center;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 14pt;
    color: #ffff;
    line-height: 35px;

}

/*--class--*/

.hidden {
    display: none;
}



/*--id--*/

#container {
    margin: 0px auto;
    padding: 0px 15px 0px 15px;
    max-width: 1200px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

#container #header {
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
    color: #ffff;
    margin-top: 150px;
}


/*-- bio card css --*/ 
.card {
  background: rgb(39, 74, 124);
  position: relative;
  padding: 30px;
  border-radius: 4px;
  margin: 100px;
  display: inline-block;
  max-width: 300px;
}

.card__title {
  font-weight: 400;
  color: aquamarine;
  margin-top: 30px;
  margin-bottom: 10px
}

.bookmark {
  display: block;
  position: absolute;
  right: 20px;
  top: -10px;
  width: 0;
  background: transparent;
  border: 20px solid rgb(129, 193, 204);
  border-bottom-color: transparent;
}




  